<div id="panel">
    <input id="address" type="textbox" value="717 California Street, San Francisco, CA, USA">
    <input type="button" value="Geocode" onclick="codeAddress()">
  </div>
<div id="map-canvas"></div>
